@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff3811;
  --color-secondary: teal;
}

.overlay-bg {
  background: #262626;
  background: linear-gradient(273deg, rgba(38, 38, 38, 1) 0%, rgba(217, 204, 204, 0.11) 0%, rgba(15, 15, 15, 1) 100%);
  border-radius: 20px;
}